Source: tahoe-upload
Section: admin
Priority: optional
Maintainer: Robin Slot <robin@rkslot.nl>
Build-Depends: debhelper (>= 10)

Package: tahoe-upload
Architecture: all
Depends: python3 (>= 3.7), python3-requests, python3-tqdm
Description: rsync-like upload program for Tahoe-LAFS
Conflicts: tahoe-upload-static

Package: tahoe-upload-static
Architecture: amd64
Description: rsync-like upload program for Tahoe-LAFS (static build)
Conflicts: tahoe-upload
